<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>p1</display-name>
  <servlet>
    <servlet-name>First</servlet-name>
    <servlet-class>First</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>Servlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>New</servlet-name>
    <servlet-class>New</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exist</servlet-name>
    <servlet-class>Exist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatientRecord</servlet-name>
    <servlet-class>PatientRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/New</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exist</servlet-name>
    <url-pattern>/Exist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientRecord</servlet-name>
    <url-pattern>/PatientRecord</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.html</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>record.html</welcome-file>
      <welcome-file>patient.html</welcome-file>
        <welcome-file>patientrecord.html</welcome-file>
         <welcome-file>patientdetails.jsp</welcome-file>
          <welcome-file>labrecords.jsp</welcome-file>
  </welcome-file-list>
</web-app>